.NewCardButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    align-self: center;
    justify-self: flex-end;
    padding: 0rem 0.5rem;
    margin: 0.5rem;
}

.NewCardButton h3 {
    color: black;
}